Repository playlegend/WorldEditLab, pull requests merged in 2021-03, with the labels that each got.

#151 adapt pipelines
  .github/workflows/build.yml
  .github/workflows/lint.yml
Labels: github_actions, status: approved, type: bugfix

#152 test other configuration for docker login
  .github/workflows/build.yml
  .github/workflows/lint.yml
  package.json
Labels: github_actions, status: approved, type: feature

#153 worldeditlab security release 1.0.1
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
  package.json
  yarn.lock
Labels: dependencies, status: approved, type: feature, type: security

#165 Bump sqlite3 from 5.0.0 to ^5.0.2
  package.json
  yarn.lock
Labels: dependencies, type: bugfix
